<body>
    <h1>Editing <%= @dojo['branch'] %></h1>
    <br><br>
    <form action="/dojos/<%= @dojo['id'] %>/update" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label>Branch:</label>
        <input type="text" name="dojo[branch]">
        <br><br>
        <label>Street:</label>
        <input type="text" name="dojo[street]">
        <br><br>
        <label>City:</label>
        <input type="text" name="dojo[city]">
        <br><br>
        <label>State:</label>
        <input type="text" name="dojo[state]">
        <br><br>
        <input type="submit" value="Update">
    </form>
    <% if @errors %>
        <% @errors.each do |error| %>
            <p><%= error%></p>
        <% end %>
    <% end %>
</body>

